/* color variables */
:root {
    /* used for the type */
    --darkBlue: #24567b;
    --lightBlue: #6a9dc5;
    --red: #eb5b6a;
    /* background colors */
    --yellow: #F7F0EE;
    --paper: #fcf3eb;
    --green: #ebf2d5;
    --orange: #fbe4c9;
    --blue: #e2effb;
}

/* base styles */
body {font-family: 'Inter', sans-serif, 'Helvetica'; font-size:16px; padding:0; margin:0; background-color:var(--paper); transition: background-color 1.5s ease-in-out; top: 0px !important; position: static !important; margin-top: 0 !important;}

p, ul {line-height:2em;}
footer {padding:0 20px;}
h1, h2, h3, h4, nav span {font-family: 'Georgia', serif; font-style: italic;}
h1 {font-size:5em; margin:0.3em 0; padding:0;}
h2 {font-size:2.5em;}
h3 {font-size:1.75em; font-weight: normal;}
h4 {font-size:1.5em;}
a {color:#000; text-decoration: none; border-bottom:1px solid rgba(0, 0, 0, 0.2); transition: all .2s ease-in-out;}
  a.white {color:rgba(255, 255, 255, 0.8); border-bottom-color:rgba(255, 255, 255, 0.3);}
a:hover {border-bottom:1px solid rgba(0, 0, 0, 0.9);}
  a.white:hover {border-bottom-color:rgba(255, 255, 255, 0.9);}
hr {height: 1px; border: none; border-top: 1px solid rgba(150, 150, 150, 0.4); width: 100px; margin: 35px 0;}
picture img {background-color: rgba(150, 150, 150, 0.15); width: 100%; height: auto; border: none;}
figure {margin:0;}

input, textarea, button {display: block; font-size: 16px; border-radius: 6px;}
input {padding:8px 8px; box-sizing: border-box; margin-top:10px; margin-bottom:10px; border: none;}
  input:focus {outline: 1px solid var(--darkBlue);}
button {background-color: var(--darkBlue); color: #fff; padding:10px 15px; border: none;}

/* detailed styles */
.intro {font-size:23px; font-family: 'Newsreader', serif, 'Georgia'; text-align:center;}
.drop-cap {color: var(--red); float: left; font-size: 60px; line-height: 60px; padding-right: 8px;}

/* layout */
.inset, .inset-wide, .inset-narrow {margin:auto; padding:0 20px; box-sizing: border-box;}
.inset {max-width:950px;}
.inset-wide {max-width:1200px;}
.inset-narrow {max-width:700px;}
.flex {display: flex; flex-direction: row; width:100%;}
.w-33 {width:33.33%; box-sizing: border-box; position:relative;}
.w-40 {width:40%; box-sizing: border-box; position:relative;}
.w-50 {width:50%; box-sizing: border-box; position:relative;}
.w-60 {width:60%; box-sizing: border-box; position:relative;}
.tvc {display: flex; flex-direction: column; justify-content: center;} /* text vertical align */

/* nav */
nav {height: 48px; width:100%; z-index: 3; position:fixed; top: -200px; transition: all 1.0s ease-in-out; background-color: rgba(252, 238, 225, 0.8); box-shadow:0px 1px 4px rgba(0, 0, 0, 0.15);}
nav.shadow {box-shadow:0px 1px 4px rgba(0, 0, 0, 0.15);}
nav.sticky {position:fixed; top:0;}
#nav-content {height:48px; position: relative;}
nav a img {position: absolute; width:30px; top:9px; left:20px; }
nav a span {position: absolute; font-size:20px; top:12px; left:60px; font-weight:bold;}

/* progress */
nav #progress {position: absolute; bottom:0; left:0; width:0; height:2px; background-color: rgba(150, 150, 150, 0.75); transition: width 0.05s;}

/* menu */
#nav-menu-list {position: absolute; right:20px; top:9px; margin:0; padding: 0;}
#nav-menu-list li {display: inline; list-style: none; margin-left:8px;}

/* mobile menu */
body.open #nav-menu-list {position: absolute; display: block; background-color: rgba(255, 249, 244, 0.9); width: 100%; right:0; top:48px; padding:20px 0; font-size: 1.2em; box-shadow:0px 3px 4px rgba(0, 0, 0, 0.15); border-top: 1px solid rgba(0,0,0,0.1); -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);}
body.open #nav-menu-list li {display: block; text-align: center; padding: 10px 0;}
#nav-menu-backdrop {position: fixed; top:0; left:0; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.5); z-index: 2; display: none;}
body.open #nav-menu-backdrop {display: block;}

/* hamburger menu */
#nav-more {display:none; width: 32px; height: 32px; background-color: rgba(0, 0, 0, 0.05); border-radius: 6px; top: 8px; right:20px; position: absolute;}
.nav-line {width:20px; height:2px; position: absolute; right:6px; background-color: rgba(0, 0, 0, 0.6); border-radius: 2px;}
.nav-line:first-child {transform: translateY(11px);}
.nav-line:last-child {transform: translateY(19px);}
/* body.open .nav-line:first-child {transform: rotate(45deg); top: 15px;}
body.open .nav-line:last-child {transform: rotate(-45deg); top: 15px;} */

/* hamburger menu animations */
@keyframes hamburgerOpenTop {
  0% {transform: translateY(11px);}
  50% {transform: translateY(15px) rotate(0deg);}
  100% {transform:  translateY(15px) rotate(45deg);}
}

@keyframes hamburgerOpenBottom {
  0% {transform: translateY(19px);}
  50% {transform: translateY(15px) rotate(0deg);}
  100% {transform:  translateY(15px) rotate(-45deg);}
}

@keyframes hamburgerOpenTopReverse {
  0% {transform:  translateY(15px) rotate(45deg);}
  50% {transform: translateY(15px) rotate(0deg);}
  100% {transform: translateY(11px);}
}

@keyframes hamburgerOpenBottomReverse {
  0% {transform:  translateY(15px) rotate(-45deg);}
  50% {transform: translateY(15px) rotate(0deg);}
  100% {transform: translateY(19px);}
}

.animate-top-line {animation: hamburgerOpenTop 0.1s forwards ease-in-out;}
.animate-bottom-line {animation: hamburgerOpenBottom 0.1s forwards ease-in-out;}
.animate-top-line-reverse {animation: hamburgerOpenTopReverse 0.1s forwards ease-in-out;}
.animate-bottom-line-reverse {animation: hamburgerOpenBottomReverse 0.1s forwards ease-in-out;}


/* photos */
.row {margin-top:20px; position: relative;}
.row div:first-child {margin-right:10px;}
.row div:last-child {margin-left:10px;}
.photo-bottom figure {position: absolute; bottom:0px;}
figcaption {position:absolute; left:10px; top:10px; font-size:0.85em; color:#fff; opacity:0; transition: all .2s ease-in-out; cursor: default;}
  figcaption.dark {color:rgba(0, 0, 0, 0.8); }
  .photo-bottom figcaption {bottom:20px; top:unset;}
  figure:hover figcaption {opacity:1; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);}
  figure:hover figcaption.dark {text-shadow:none;}

/* image viewer */
article figure {cursor: zoom-in;}
dialog { -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); width: 100%; max-width: 100%; height: 100%; max-height: 100%; position: fixed; top:0; left:0; opacity: 0; transition: opacity 0.2s ease-in-out; background-color: rgba(0, 0, 0, 0.85); z-index: 10; border: none; margin: 0; padding: 0;}
dialog.open {opacity: 1;}
dialog figure {cursor: default;}
dialog picture img {width: unset; height: unset;  max-height: 100%; max-width: 100%; top:50%; left:50%; transform: translate(-50%, -50%); position: absolute;}
dialog figcaption {opacity: 1; display:block; bottom: 20px; left: 20px; top: unset;}
dialog figcaption.dark {color: #fff; }
dialog figure:hover figcaption {display: block;}
/* modal controls */
dialog .button {width: 42px; height: 42px; z-index: 1; background-color: rgba(100, 100, 100, 0.25); border-radius: 8px; transition: all .2s ease-in-out; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);  background-repeat: no-repeat; background-position: center; transform-origin: center;}
dialog .button:hover {background-color: rgba(100, 100, 100, 0.65); transform: scale(1.05);}
dialog .button:focus-visible {outline: none; border: 1px solid #ffffff70;}
dialog .button span {display: none;}
dialog .close {position: absolute; top:20px; right:20px; background-image: url("/images/icon-close.svg"); background-size: 24px;}
/* previous and next button that are placed on either side of the screen and vertically centered */
dialog .previous, dialog .next {position: absolute; top:50%; transform: translateY(-50%) inherit; background-size: 14px 18px; }
dialog .previous {left:20px; background-image: url("/images/icon-previous.svg");}
dialog .next {right:20px; background-image: url("/images/icon-arrow.svg");}

/* image carousel */
.carousel {position: relative; width: 100%; height: 100%; overflow-y: hidden; overflow-x: scroll; scroll-snap-type: x mandatory; display: flex; flex-direction: row; scroll-behavior: auto;}
.carousel::-webkit-scrollbar {display: none;}
.carousel-item {position: relative; min-width: 100%; min-height: 100%; scroll-snap-align: start;}

/* media */
audio {display:block; margin:0 auto 8px auto; width:320px;}
#audio-player {box-sizing: border-box; width: fit-content; margin: auto; font-size: 0.8em; background-color: rgba(255, 255, 255, 0.52); padding: 8px 8px 8px 8px; border-radius: 14px; color: #4d4d4d; }
#audio-player div {text-align: center;}


/* media cards */
.cards {display: flex; flex-wrap: wrap; margin:20px auto 70px auto; justify-content: center; padding:0 10px;}
.card {display: block; position:relative; border-bottom:none; box-sizing: border-box; margin:10px 10px;}
.card:hover {border-bottom:none; transform: scale(1.02); transition: all .2s ease-in-out; }
.card:hover {color:var(--red);}
.card-image {display: block; width:100%;}
.card-image img {width:100%; height: auto; border-radius:4px; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.2); background-color: rgba(150, 150, 150, 0.15);}
.card-text {display:block; margin-top:10px;}
.card-title {font-weight:700; display:block;}
.card-source {font-size:0.8em; display:block; margin:5px 0;}

  /* newsletter */
#newsletter {margin-top:75px;}
#form {padding-left:50px;}

/* mailchimp email form style override */
div#mc_embed_signup {background-color:transparent;}
div#mc_embed_signup form {padding-left:unset;}

/* hide that hideous google translate bar */
.goog-te-banner-frame, #gt-nvframe, iframe#gt-nvframe, body iframe #gt-nvframe {
  z-index: 0;
  display: none !important;
}
/* footer */
footer.inset {text-align:center; margin-top: 50px; margin-bottom: 50px; opacity:0.7;}
footer:hover {opacity:1;}

/* dark mode!! */
@media (prefers-color-scheme: dark) {
    /* base styles */
    body, h1 {color: #fff;}
    a, #masthead-title a.white {color:rgba(255, 255, 255, 0.8); border-bottom:1px solid rgba(255, 255, 255, 0.3);}
    a:hover, #masthead-title a.white:hover {border-bottom:1px solid rgba(255, 255, 255, 0.9);}
    
    /* dark mode base colors */
    :root {
      /* used for the type */
        --darkBlue: #5d97c2;
        /* --lightBlue: #6a9dc5; */
        /* --red: #eb5b6a; */
      /* background colors */
        --yellow: #2d2823;
        --paper: #2d2823;
        --green: #192111;
        --orange: #2b150c;
        --blue: #1a2633;
    }

    body.open #nav-menu-list {background-color: rgba(30, 30, 30, 0.9);}
    #nav-more {background-color: rgba(255, 255, 255, 0.1);}
    .nav-line {background-color: rgba(255, 255, 255, 0.8); }
    
    button {background-color: #7fc8ff; color: #000; padding:10px 15px; border: none;}
    #audio-player {background-color: rgba(50, 50, 50, 1); color: #ffffff;}
}

/* mobile device breakpoints */
@media screen and (max-width:1024px){
    /* hello desktop */
    h1 {font-size:4em;}
} 
@media screen and (max-width: 768px) {
    /* most tablets */ 
    .flex {flex-direction: column;}
    .w-50, .w-40, .w-60 {width:100%;}
    .photo-bottom figure {position: relative;}
      .photo-bottom figcaption {bottom:unset; top:10px;}
    .row div:first-child, .row div:last-child {margin-left:0; margin-right:0;}
    .row div:first-child {margin-bottom:20px;}
    #nav-menu-list {display: none;}
    #nav-more {display: block;}
    #form {padding-left:unset;}
    audio, #audio-player {margin-left: unset; margin-right: unset;}
}
@media screen and (max-width: 640px){

}
@media screen and (max-width: 640px) and (prefers-color-scheme: dark){

}

@media screen and (max-width: 480px) {
    /* phablet */
    input, button {width:100%;}
    audio, #audio-player {width:100%;}
    
    /* let's keep the modal clean, less christmas tree */
    dialog .previous, dialog .next {display:none;}
}
@media screen and (max-width: 375px) {
    /* phones */
    h1 {font-size:3em;}
}